<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seach</title>
</head>
<body>

  <div class="container">
      <form [formGroup]="form">
        <div class="form-group">
            <label class="col-form-label">Product ID:</label>
            <input formControlName="productID" class="form-control" placeholder="ID of the product you want to find" title="only numbers">
        </div>
        <ng-template [ngIf]="found">
            <hr>
            <p>ProductID : {{product.ProductID}}</p>
            <p>Product name : {{product.ProductName}}</p>
            <p>UnitPrice : {{product.UnitPrice}}</p>
            <p>UnitsInStock : {{product.UnitsInStock}}</p>
        </ng-template>
        
        <hr>       
        <button type="submit" class="btn btn-primary" (click)="get()">Search</button>
        <button type="submit" class="btn btn-secondary" (click)="clear()">Clear</button>
      </form>
    </div>

</body>
</html>
