<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <div class="container">

        <form [formGroup]="form">
            <div class="form-group">
                <label class="col-form-label">Product ID:</label>
                <input formControlName="productID" class="form-control" placeholder="Product ID" title="only numbers">
            </div>
            <div class="form-group">
                <label class="col-form-label">Product name:</label>
                <input formControlName="productName" class="form-control" placeholder="Product name" title="only letters">
            </div>
            <div class="form-group">
                <label class="col-form-label">Unit price:</label>
                <input formControlName="unitPrice" class="form-control" placeholder="Unit price the product" title="only numbers">
            </div>
            <div class="form-group">
                <label class="col-form-label">Units in stock:</label>
                <input formControlName="unitsInStock" class="form-control" placeholder="Units in stock" title="only numbers">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button>
            <button type="submit" class="btn btn-secondary" (click)="onClickClear()">Clear</button>
        </form>
    </div>
</body>

</html>