
@model List<Entities.Employees>
@{
    ViewBag.Title = "Employees Page";
}

<h1>Employess : </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th scope="row">@employee.EmployeeID</th>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
            </tr>
        }
    </tbody>
</table>
